/* //////////////////////////////Media Query/////////////////////////////////////////// */
@media (min-width:1760px) and (max-width:1920px){

   section.banner .bantext h2 {
    font-size: 80px;
    line-height: 90px;
}

section.banner {
    padding: 0px 0px 100px !important;
    justify-content: center;
}


}


@media (min-width:1600px) and (max-width:1760px){

    section.banner {
    padding: 0px 0px 100px !important;
    justify-content: center !important;
}

section.banner .bantext h2 {
    font-size: 70px !important;
    line-height: 80px !important;
}

section.banner .bantext p {
    font-size: 24px !important;
    line-height: 40px !important;
}



}



@media (min-width:1440px) and (max-width:1600px){

    section.banner {
    padding: 0px 0px 100px !important;
    justify-content: center !important;
}

}

@media (max-width:1600px){

    section.banner .bantext h2 {
    font-size: 50px !important;
    font-weight: 300;
    line-height: 60px !important;
}

}

@media (max-width:1537px){}

@media (max-width:1441px){}

@media (max-width:1367px){

    section.case-studies .case-box h2 a {
        font-size: 18px !important;
        line-height: 28px !important;
    }

    section.case-studies .case-box p {
        font-size: 13px !important;
        line-height: 23px !important;
    }

    section.case-studies .case-box ul {
        padding-top: 10px;
        gap: 5px;
    }

    section.tools-and-workflow .tools .tool.tool3 {
        left: 325px !important;
        top: 50px !important;
    }

    section.tools-and-workflow .tools .tool.tool4 {
        left: 540px !important;
        top: 23px !important;
    }

    section.tools-and-workflow .tools .tool.tool5 {
        left: 710px !important;
        top: 22px !important;
    }

    section.tools-and-workflow .tools .tool.tool1 {
        left: 50px !important;
        top: 120px !important;
    }

    section.tools-and-workflow .tools .tool.tool2 {
        left: 192px !important;
        top: 78px !important;
    }

    section.tools-and-workflow .tools .tool.tool6 {
        left: 297px !important;
        top: 116px !important;
    }

    section.tools-and-workflow .tools .tool.tool6 img {
        width: 310px !important;
    }

    section.tools-and-workflow .tools .tool.tool8 img {
        width: 262px  !important;
    }

    section.tools-and-workflow .tools .tool.tool8 {
        right: 18px  !important;
        top: 115px  !important;
    }
    section.tools-and-workflow .tools .tool.tool7 {
        left: 724px !important;
        top: 106px !important;
    }

    section.tools-and-workflow .tools .tool.tool12 {
        right: 287px  !important;
        top: 269px  !important;
    }

    section.tools-and-workflow .tools .tool.tool12 img {
        width: 155px  !important;
    }

    section.tools-and-workflow .tools .tool.tool11 {
        top: 350px  !important;
        left: 595px  !important;
    }

    section.tools-and-workflow .tools .tool.tool10 {
        top: 360px  !important;
        left: 340px  !important;
    }

    section.tools-and-workflow .tools .tool.tool13 {
        right: 180px  !important;
        top: 295px  !important;
    }

    section.tools-and-workflow .tools .tool.tool9 {
        top: 318px  !important;
        left: 19px  !important;
    }

    section.tools-and-workflow .tools .tool.tool9 img {
        width: 268px  !important;
    }

    section.about-sec {
        height: 480px;
    }

    section.about-sec .about-txt p {
        font-size: 30px !important;
        line-height: 50px;
    }

    section.feedback ul li.slick-slide h2 {
        font-size: 18px !important;
        line-height: 25px;
    }

    section.feedback ul li.slick-slide p {
        font-size: 14px !important;
    }

    section.industries-design .industries .industry.industry3 {
        top: 18px  !important;
        width: 210px !important;
        left: 312px !important;
    }

    section.industries-design .industries .industry.industry2 {
        top: 90px  !important;
        width: 120px !important;
        left: 163px !important;
    }

    section.industries-design .industries .industry.industry1 {
        top: 110px !important;
        width: 120px !important;
        left: 28px !important;
    }

    section.industries-design .industries .industry.industry7 {
        left: 45px  !important;
        top: 340px !important;
        width: 250px !important;
    }

    section.industries-design .industries .industry.industry8 {
        left: 320px !important;
        top: 340px !important;
        width: 250px !important;
    }

    section.industries-design .industries .industry.industry4 {
        top: 185px !important;
        width: 250px !important;
        left: 340px !important;
    }

    section.industries-design .industries .industry.industry5 {
        right: 303px  !important;
        top: 105px !important;
        width: 120px !important;
    }

    section.industries-design .industries .industry.industry6 {
        right: 12px  !important;
        top: 160px !important;
        width: 250px !important;
    }

    section.industries-design .industries .industry.industry10 {
        top: 288px  !important;
        width: 130px !important;
        right: 140px !important;
    }

    section.industries-design .industries .industry.industry9 {
        top: 295px !important;
        width: 130px !important;
        right: 295px !important;
    }

    .btnn a {
        padding: 20px !important;
    }

    section.banner {
    padding: 200px 0px 100px !important;
}

section.job-score .job-score-txt p {
    font-size: 28px !important;
    line-height: 38px !important;
}



}

@media (max-width:1280px){

    header .logo ul li p {
        color: rgb(255, 255, 255);
        font-size: 12px;
    }

    section.case-studies{
        padding-top: 50px !important;
    }

    section .main-heading {
        padding-bottom: 50px !important;
    }

    section.tools-and-workflow {
        padding: 50px 0px 100px !important;
    }

    section.about-sec .pic img {
        top: -420px;
    }

    section.service-sec {
        padding: 50px 0px 0px !important;
    }

    section.service-sec .service-head h2 {
        padding-bottom: 20px !important;
        font-size: 32px !important;
        line-height: 42px !important;
    }

    section.service-sec .service-head h2 br {
        display: none;
    }

    section.service-sec .service-txt ul li h4 {
        font-size: 21px !important;
        line-height: 31px !important;
        padding-bottom: 0px !important;
    }

    section.service-sec .r2 .service-img, section.service-sec .r4 .service-img {
        padding-right: 0px !important;
    }

    .btnn a {
        padding: 20px !important;
        font-size: 14px;
    }

    header ul {
    gap: 25px !important;
}

header .logo ul li h2 {
    font-size: 20px !important;
}


}

@media (max-width:1260px){

    section.about-sec {
        height: 450px;
    }

    section.about-sec .about-txt .btnn {
    margin-top: 20px !important;
    }


}

@media (max-width:1200px){
    header ul {
        gap: 15px;
    }

    section.job-score .job-score-txt p {
        font-size: 28px;
        line-height: 38px;
    }

    .main-heading h2 {
        font-size: 32px !important;
    }

    section.banner .bantext h2 {
    line-height: 70px !important;
}



}

@media (max-width:1140px){

    section.banner .bantext h2 {
        font-size: 45px !important;
        line-height: 60px !important;
    }

    

    section.case-studies .col-md-4 {
        width: 50%;
    }

    section.about-sec .about-txt p {
        font-size: 24px !important;
        line-height: 44px;
    }

    section.about-sec .about-txt {
        top: 10px !important;
    }

    section.about-sec {
        height: 400px !important;
    }

        section.tools-and-workflow {
        padding: 50px 0px 100px !important;
    }

        section.about-sec .pic img {
        top: -380px !important;
    }

        section.tools-and-workflow .tools .tool.tool3 {
        left: 260px !important;
        top: 40px !important;
    }

        section.tools-and-workflow .tools .tool.tool1 {
        left: 37px !important;
        top: 90px !important;
    }

    section.tools-and-workflow .tools .tool.tool2 {
        left: 165px !important;
        top: 68px !important;
    }

    section.tools-and-workflow .tools .tool.tool2 img {
        width: 45px !important;
    }

    section.tools-and-workflow .tools .tool.tool4 {
        left: 455px !important;
        top: 20px !important;
    }

    section.tools-and-workflow .tools .tool h4 {
        font-size: 12px !important;
    }

    section.tools-and-workflow .tools .tool.tool5 {
        left: 595px !important;
        top: 20px !important;
    }

    section.tools-and-workflow .tools .tool.tool6 {
        left: 251px !important;
        top: 97px !important;
    }

    section.tools-and-workflow .tools .tool.tool6 img {
        width: 260px !important;
    }

    section.tools-and-workflow .tools .tool.tool8 img {
        width: 218px !important;
    }

    section.tools-and-workflow .tools .tool.tool8 {
        right: 18px !important;
        top: 97px !important;
    }

    section.tools-and-workflow .tools .tool.tool7 {
        left: 600px !important;
        top: 85px !important;
    }

    section.tools-and-workflow .tools .tool.tool13 {
        right: 145px !important;
        top: 240px !important;
    }

    section.tools-and-workflow .tools .tool.tool12 {
        right: 245px !important;
        top: 227px !important;
    }

    section.tools-and-workflow .tools .tool.tool12 img {
        width: 125px !important;
    }

    section.tools-and-workflow .tools .tool.tool11 {
        top: 295px !important;
        left: 492px !important;
    }

    section.tools-and-workflow .tools .tool.tool9 img {
        width: 220px !important;
    }

    section.tools-and-workflow .tools .tool.tool9{
        top: 268px !important;
        left: 22px !important;
    }

    section.tools-and-workflow .tools .tool.tool10 {
        top: 305px !important;
        left: 290px !important;
    }

    section.service-sec .service-txt ul li p {
        font-size: 16px !important;
        line-height: 26px !important;
    }

    section.service-sec .service-head h2 {
        padding-bottom: 20px !important;
        font-size: 28px !important;
        line-height: 38px !important;
    }

    section.job-score .job-score-txt p {
        font-size: 22px !important;
        line-height: 32px !important;
    }

    section.industries-design .industries .industry h4 {
        font-size: 14px !important;
    }

    section.industries-design .industries .industry p {
        font-size: 11px !important;
    }

    section.industries-design .industries .industry.industry1 {
        top: 75px !important;
        width: 100px !important;
        left: 24px !important;
    }

    section.industries-design .industries .industry.industry2 {
        top: 65px !important;
        width: 100px !important;
        left: 142px !important;
    }

    section.industries-design .industries .industry.industry3 {
        top: 12px !important;
        width: 190px !important;
        left: 256px !important;
    }

    section.industries-design .industries .industry.industry4 {
        top: 150px !important;
        width: 250px !important;
        left: 280px !important;
    }

    section.industries-design .industries .industry.industry5 {
        right: 250px !important;
        top: 85px !important;
        width: 110px !important;
    }

    section.industries-design .industries .industry.industry6 {
        right: 16px !important;
        top: 133px !important;
        width: 210px !important;
    }

    section.industries-design .industries .industry.industry7 {
        left: 33px !important;
        top: 285px !important;
        width: 200px !important;
    }

    section.industries-design .industries .industry.industry8 {
        left: 265px !important;
        top: 285px !important;
        width: 200px !important;
    }


    section.industries-design .industries .industry.industry9 {
        top: 236px !important;
        width: 100px !important;
        right: 255px !important;
    }


    section.industries-design .industries .industry.industry10 {
        top: 238px !important;
        width: 100px !important;
        right: 130px !important;
    }

    .btnn a {
        padding: 15px !important;
        font-size: 14px;
    }

    .btnn1 a {
        padding: 15px !important;
        font-size: 14px;
    }

    header .logo ul li h2 {
        font-size: 18px;
    }

    header .logo ul{
        gap: 0px;
    }

    header .logo ul li img {
        width: 85%;
    }

    header ul {
        gap: 18px !important;
    }

        header .logo ul li h2 {
        font-size: 19px !important;
    }



}

@media (max-width:1024px){

    section.service-sec .service-txt ul li p {
        font-size: 14px !important;
        line-height: 24px !important;
    }

    section.service-sec .service-head h2 {
        font-size: 24px !important;
        line-height: 34px !important;
    }

    section.about-sec .about-txt p {
        font-size: 21px !important;
        line-height: 35px;
    }

    section.about-sec {
        height: 350px !important;
    }

    section.about-sec .about-txt {
        top: 40px !important;
    }

    section.about-sec .about-txt ul {
        padding-top: 20px !important;
    }

    section.about-sec .pic img {
        top: -305px !important;
        left: 50% !important;
    }

    section.about-sec .about-txt ul li {
        font-size: 14px;
    }

    section.case-studies .case-box h2 a {
        font-size: 16px !important;
        line-height: 26px !important;
    }

    header ul li a {
        font-size: 14px;
    }


    header .logo ul li h2 {
        font-size: 16px;
    }

    section.feedback ul li.slick-slide .btnn {
        margin-top: 0px;
    }

    section.industries-design {
        padding-bottom: 50px !important;
    }

    header .row > .col-md-3 {
        width: 35%;
    }

    header .col-md-6 {
        width: 65%;
    }

    header .logo ul li h2 {
        font-size: 24px !important;
    }

        header .logo ul li p {
        font-size: 16px;
    }

    header .btnn {
    display: none;
}

header ul li a {
    font-size: 18px !important;
}

section.banner .bantext h2 span.highlight1::before {
    top: 6px !important;
    right: -8px !important;
}



}

@media (max-width:992px){
        header ul {
        gap: 15px;
    }

    /* Mobile View */
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -300px;    /* hidden by default */
        width: 300px;
        height: 100vh;
        background: #000;
        padding: 40px 20px;
        transition: 0.4s ease;
        box-shadow: -5px 0 20px rgba(0,0,0,0.1);
        z-index: 9999;
        display: block !important;
    }

    header .menu{
        display: none !important;
    }

    .mobile-menu ul {
        flex-direction: column;
        gap: 5px;
    }

    .hamburger {
        display: block !important;
        position: absolute;
        right: 45px;
        top: 55px;
        z-index: 10000;
        width: auto;
    }

    /* hide desktop layout */
    .mobile-menu ul li ul {
        position: static;
    }

    

    /* Sidebar visible */
    .mobile-menu.active {
        right: -1px;
    }


    .mobile.active .hamburger {
    right: 315px;
    top: 55px;
    }

    header .btnn {
        display: none;
    }

    .mobile-menu ul {
        display: flex;
    }

    .mobile-menu ul li {}

    .mobile-menu ul li a {
        color: #fff;
    }

    .mobile-menu ul li.dropdown {}

    .mobile-menu ul li.dropdown ul {
        margin-top: 15px;
    }

    .mobile-menu ul li.dropdown ul li {}

    .mobile-menu ul li.dropdown ul li a {
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 14px;
    }

    .mobile-menu ul li.dropdown ul li a:hover {
        background: #14a800;
    }

    .mobile-menu ul li a:hover {
        background: #14a800;
        padding: 10px;
        width: 100%;
        display: block;
    }

    .mobile-menu ul {
        display: flex;
    }

    .mobile-menu ul li {}

    .mobile-menu ul li a {
        color: #fff;
        padding: 10px;
        width: 100%;
        display: block;
    }

    .mobile-menu ul li.dropdown {}

    .mobile-menu ul li.dropdown ul {
        margin-top: 0;
    }

    .mobile-menu ul li.dropdown ul li {}

    .mobile-menu ul li.dropdown ul li a {
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 14px;
    }

    .mobile-menu ul li.dropdown ul li a:hover {
        background: #14a800;
    }

    .mobile-menu ul li a:hover {
        background: #14a800;
        padding: 10px;
        width: 100%;
        display: block;
    }

    .mobile-menu ul li.dropdown:hover ul {
        height: auto;
        background: #000;
        border: 1px solid #14a800;
        gap: 0;
    }

    .mobile-menu ul li.dropdown ul {
        height: 0;
        border: 1px solid #14a80000;
        gap: 10px;
        overflow: hidden;
    }

    .mobile.active .hamburger i {
        font-size: 32px;
    }

    .mobile.active .hamburger i::before {
        content: "\f057";
    }

    section.banner .bantext p br {
        display: none;
    }

    section.banner .bantext h2 {
        font-size: 32px;
        line-height: 42px;
    }

    section.banner .bantext h2 span.highlight1::before {
        top: 5px;
        right: -5px;
    }

    section.banner .bantext p {
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
    }

    
}


@media (min-width: 801px) and (max-width: 991px){


    section.banner .bantext p br {
        display: none;
    }

    section.case-studies .case-box h2 a {
        font-size: 16px;
        line-height: 26px;
    }

        section.case-studies .case-box p {
        font-size: 12px;
        line-height: 22px;
    }

    section.case-studies .case-box ul li.location div img {
        width: 25px;
        height: 15px;
    }

    section.case-studies .case-box ul li h6 {
        font-size: 12px;
    }


    .box {
        stroke: rgb(184 184 184);
    }


     
    section.banner {
        height: 90vh;
    }

        section.about-sec .about-txt p {
        font-size: 18px;
        line-height: 28px;
    }

    section.about-sec .about-txt ul {
        gap: 10px;
    }

    section.about-sec {
        margin-top: 50px;
    }


    section.tools-and-workflow .border-box {
        display: none;
    }

        section.tools-and-workflow .tools .tool {
        text-align: center;
        position: relative;
        z-index: 1;
        top: 0px !important;
        left: 0 !important;
        border: 1px solid rgb(20, 168, 0);
        padding: 15px;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    section.tools-and-workflow .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

    section.tools-and-workflow .tools .tool h4 {
        font-size: 14px;
    }

        section.about-sec .pic img {
        top: -290px;
        left: 50%;
        width: 40%;
    }


        section.service-sec .service-txt ul li h4 {
        font-size: 16px;
        line-height: 26px;
    }

        section.service-sec .service-head h2 {
        font-size: 21px;
        line-height: 31px;
    }

    section.service-sec .r1 .service-img, section.service-sec .r3 .service-img {
    padding-left: 0px;
}

section.service-sec .r2 .service-head, section.service-sec .r4 .service-head {
    padding-left: 0px;
}

    section.job-score .job-score-txt p {
        font-size: 18px;
        line-height: 28px;
    }

    section.industries-design .border-box {
    display: none;
}

section.industries-design .industries .industry {
    position: relative;
    top: 0 !important;
    left: 0 !important;
}

section.industries-design .industries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

section.industries-design .industries .industry {
    text-align: center;
    z-index: 1;
    border: 1px solid rgb(20, 168, 0);
    padding: 15px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

section.industries-design .industries .industry h4 br {
    display: none;
}

section.case-studies .container {
    max-width: 850px;
}

}

@media (min-width:769px) and (max-width:801px){
   
        section.industries-design .industries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    
    
 
}


@media (max-width:768px){}

@media (max-width:767px){}

@media (max-width:560px){}

@media (max-width:480px){}

@media (max-width:430px){}

@media (max-width:375px){}

@media (max-width:360px){}